<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tema 11</title>
</head>
<body>
  <mat-grid-list style="width:70%;height:70%;color:aliceblue;font-weight: bolder;margin-left:auto;margin-right:auto;" cols="2" rowHeight="2:1">
    <mat-grid-tile style="background-color: blueviolet;">Rock</mat-grid-tile>
    <mat-grid-tile style="background-color: yellow;">POP</mat-grid-tile>
    <mat-grid-tile style="background-color: orangered;">SAMBA</mat-grid-tile>
    <mat-grid-tile style="background-color: turquoise;">INDIE</mat-grid-tile>
  </mat-grid-list>
<div></div>
</body>
</html>
